# Modify element data

In order to update our grid model to adjust it to our desired operation point, we might want to tweak some of the snapshots data. The modification of the elements parameters might be broad (i.e. we want to recalculate the resistance parameters for all the lines), targeted (a specific unit or group of units) or even conditional (i.e. we want to target NaN values and put them to 0). In this notebook, you will learn to do this in a specific snapshot, while in the next notebook you will learn to apply a time series profile over a group of snpashots, which will be relevant for those aiming to participate in the challenge of the RTE7K dataset.

In [2]:
# To start off, we load the grid model.

import pypowsybl as pp
import pandas as pd
from pathlib import Path

grid = pp.network.load(file='data/future_snapshot.xiidm.bz2')
print('Grid model loaded')

Grid model loaded

## Checking an element parameter

Firstly, we may want to check a particular value of a parameter of a given object. We can call the dataframes of the model with a couple different pieces of code.

In [3]:
# If we want a given parameter for all the objects, we can just index by the parameter. In this example, we are asking for the Resistance of all the lines
# We can choose a diferent object by calling its paritcular function 'get_*element*()', and the particular attribute you want to pick instead of ['r'].
grid.get_lines()['r']

id
.CTLHL31.CTLO    1.149352
.CTLHL32.CTLO    1.149352
.CTLOL31FINS     2.127000
.CTLOL31ZLIEB    3.870000
.G.ROL51HOSPI    1.599000
                   ...
ZNAUSL31ZPRA5    6.660255
ZPRRFL32ZPRR5    0.050000
ZQUINL61ZSSCR    0.350000
ZS.SEL31ZVLET    0.100000
ZTRINL31ZP.F5    1.831000
Name: r, Length: 7773, dtype: float64

In [4]:
# An alternative way of getting the given parameter, or a group of them, is by explicitly demanding to retrieve just those parameters from the dataframe
grid.get_lines(attributes=['r', 'x'])

                      r          x
id
.CTLHL31.CTLO  1.149352   2.103875
.CTLHL32.CTLO  1.149352   2.103875
.CTLOL31FINS   2.127000   4.709000
.CTLOL31ZLIEB  3.870000   9.045000
.G.ROL51HOSPI  1.599000   4.665999
...                 ...        ...
ZNAUSL31ZPRA5  6.660255  12.191515
ZPRRFL32ZPRR5  0.050000   0.120000
ZQUINL61ZSSCR  0.350000   2.370000
ZS.SEL31ZVLET  0.100000   0.190000
ZTRINL31ZP.F5  1.831000   4.640999

[7773 rows x 2 columns]

If we were to do a targeted search, we can do so using the *loc* Pandas method

In [5]:
# If we want instead the parameter for a given object, we can do the following call
grid.get_lines(attributes=['r']).loc['.CTLHL31.CTLO']

r    1.149352
Name: .CTLHL31.CTLO, dtype: float64