# Operational Limits

In this notebook, we introduce how to configure operational limits for the branch elements and the generators. 

For branch elements, limits apply to the power or current transferred by each given line or transformer, with the possibility of adding several different limit values depending on the duration of the overload. 

For generators, limits apply to the reactive power that can be exchanged given the active power injection and the generator nominal power, with the possiblity of defining a polygon with combinations of P and Q inside of which the valid operational points are located.

## Setting branch limits

Let's take a look at one of the models and how the branch limits look like:

In [64]:
import pypowsybl as pp
import pandas as pd
import numpy as np

grid = pp.network.load('data/initial_snapshot.xiidm.bz2')
grid.get_operational_limits(all_attributes=True)

,element_type,side,name,type,value,acceptable_duration,fictitious,group_name,selected
element_id,,,,,,,,,
.CTLHL31.CTLO,LINE,ONE,permanent_limit,CURRENT,2.100000e+02,-1,False,HIVER1,True
.CTLHL31.CTLO,LINE,ONE,N/A,CURRENT,1.797693e+308,2147483647,False,HIVER1,True
.CTLHL31.CTLO,LINE,TWO,permanent_limit,CURRENT,2.100000e+02,-1,False,HIVER1,True
.CTLHL32.CTLO,LINE,ONE,permanent_limit,CURRENT,2.100000e+02,-1,False,HIVER1,True
.CTLHL32.CTLO,LINE,ONE,N/A,CURRENT,1.797693e+308,2147483647,False,HIVER1,True
...,...,...,...,...,...,...,...,...,...
WEPPEY762,TWO_WINDINGS_TRANSFORMER,ONE,IT1,CURRENT,1.797693e+308,60,False,HIVER1,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,permanent_limit,CURRENT,7.750001e+02,-1,False,HIVER1,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,IT20,CURRENT,9.300001e+02,1200,False,HIVER1,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,IT5,CURRENT,1.240000e+03,300,False,HIVER1,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,IT1,CURRENT,1.797693e+308,60,False,HIVER1,True

As can be seen, there are multiple limits that apply for the branches, all of them applying to the current flowing through the branch. For instance, transformer YAINVY642 has high values for shorter periods of time (IT1>IT5>IT20), with an infinite value in the shortest time duration. This means that for instances lower than 60 seconds, no limit is applied during dynamic analysis.

For the purpose of the steady-state analysis, the relevant limit is the permanent limit, which is defined by an acceptable duration of -1. There can only be one permanent limit per side of the branch (As can be seen in .CTLHL31.CTLO, there are two permanent limits, one at side ONE and the other at side TWO).

They are all grouped under the name HIVER1, meaning this is a winter limit.

Now, we can try to set up the limits for a line. We start off by designing our simple grid (2 buses connected by one line)

In [78]:
grid = pp.network.create_empty()
grid.create_substations(id=['ss1', 'ss2'])
grid.create_voltage_levels(id=['vl1', 'vl2'], substation_id=['ss1', 'ss2'], topology_kind=['BUS_BREAKER', 'BUS_BREAKER'], nominal_v=[10, 10] )
grid.create_buses(id=['b1', 'b2'], voltage_level_id=['vl1','vl2'])
grid.create_lines(id='l1', voltage_level1_id = 'vl1', voltage_level2_id = 'vl2', bus1_id = 'b1', bus2_id = 'b2', r=0.01, x=0.1)

We can add a few operational limits to this line. For instance, we will start off with a permanent Winter limit for both sides:

In [79]:
grid.create_operational_limits(element_id=['l1', 'l1'], side=['ONE', 'TWO'], name=['perm_winter', 'perm_winter2'], type=['CURRENT', 'CURRENT'], value=[250.0, 250.0], acceptable_duration=[-1,-1], group_name=['WINTER', 'WINTER'])
grid.get_operational_limits(all_attributes=True)

Empty DataFrame
Columns: [element_type, side, name, type, value, acceptable_duration, fictitious, group_name, selected]
Index: []

Right now, no operational limits seems to appear. This is due to the operational limit not being applied to any line. If we want to see what operational limits we have, we can do:

In [80]:
grid.get_operational_limits(all_attributes=True, show_inactive_sets=True)

,element_type,side,name,type,value,acceptable_duration,fictitious,group_name,selected
element_id,,,,,,,,,
l1,LINE,ONE,permanent_limit,CURRENT,250.0,-1,False,WINTER,False
l1,LINE,TWO,permanent_limit,CURRENT,250.0,-1,False,WINTER,False

Trying to set 2 permanent limits for the same side and the same group results in only one being set up:

In [81]:
grid.create_operational_limits(element_id=['l1', 'l1'], side=['ONE', 'ONE'], name=['perm_summ', 'perm_summ2'], type=['CURRENT', 'CURRENT'], value=[300.0, 250.0], acceptable_duration=[-1,-1], group_name=['SUMMER', 'SUMMER'])
grid.get_operational_limits(all_attributes=True, show_inactive_sets=True)

,element_type,side,name,type,value,acceptable_duration,fictitious,group_name,selected
element_id,,,,,,,,,
l1,LINE,ONE,permanent_limit,CURRENT,250.0,-1,False,WINTER,False
l1,LINE,ONE,permanent_limit,CURRENT,250.0,-1,False,SUMMER,False
l1,LINE,TWO,permanent_limit,CURRENT,250.0,-1,False,WINTER,False

Now, we will try to set non-permanent limits. We will have to select accetpable_durations greater than 0 in order to get them. Non-permanent limits must be created with a valid permanent limit for the same group and side. Otherwise, you will obtain the following error:

In [82]:
grid.create_operational_limits(element_id=['l1', 'l1'], side=['TWO', 'TWO'], name=['IT5', 'IT10'], type=['CURRENT', 'CURRENT'], value=[300.0, 250.0], acceptable_duration=[300,600], group_name=['SUMMER', 'SUMMER'])

PyPowsyblError: AC line 'l1': permanent limit must be defined if temporary limits are present

In [83]:
grid.create_operational_limits(element_id=['l1', 'l1', 'l1'], side=['TWO', 'TWO', 'TWO'], name=['IT5', 'IT10','perm'], type=['CURRENT', 'CURRENT', 'CURRENT'], value=[600.0, 450.0, 250.0], acceptable_duration=[300,600, -1], group_name=['SUMMER', 'SUMMER', 'SUMMER'])

In [84]:
grid.get_operational_limits(all_attributes=True, show_inactive_sets=True)

,element_type,side,name,type,value,acceptable_duration,fictitious,group_name,selected
element_id,,,,,,,,,
l1,LINE,ONE,permanent_limit,CURRENT,250.0,-1,False,WINTER,False
l1,LINE,ONE,permanent_limit,CURRENT,250.0,-1,False,SUMMER,False
l1,LINE,TWO,permanent_limit,CURRENT,250.0,-1,False,WINTER,False
l1,LINE,TWO,permanent_limit,CURRENT,250.0,-1,False,SUMMER,False
l1,LINE,TWO,IT10,CURRENT,450.0,600,False,SUMMER,False
l1,LINE,TWO,IT5,CURRENT,600.0,300,False,SUMMER,False

Finally, we have to apply the desired limit group to our line. To do so, we need to use the update function to change the group limits parameter of the line object, which can be selected separately for each side:

In [90]:
grid.update_lines(id='l1', selected_limits_group_1='SUMMER', selected_limits_group_2='WINTER')
grid.get_operational_limits(all_attributes=True, show_inactive_sets=False)

,element_type,side,name,type,value,acceptable_duration,fictitious,group_name,selected
element_id,,,,,,,,,
l1,LINE,ONE,permanent_limit,CURRENT,250.0,-1,False,SUMMER,True
l1,LINE,TWO,permanent_limit,CURRENT,250.0,-1,False,WINTER,True