# Modify element data

In order to update our grid model to adjust it to our desired operation point, we might want to tweak some of the snapshots data. The modification of the elements parameters might be broad (i.e. we want to recalculate the resistance parameters for all the lines), targeted (a specific unit or group of units) or even conditional (i.e. we want to target NaN values and put them to 0). In this notebook, you will learn to do this in a specific snapshot, while in the next notebook you will learn to apply a time series profile over a group of snapshots, which will be relevant for those aiming to participate in the challenge of the RTE7K dataset.

In [2]:
# To start off, we load the grid model.

import pypowsybl as pp
import pandas as pd
from pathlib import Path

grid = pp.network.load(file='data/future_snapshot.xiidm.bz2')
print('Grid model loaded')

Grid model loaded

## Checking an element parameter

Firstly, we may want to check a particular value of a parameter of a given object. We can call the dataframes of the model with a couple different pieces of code.

In [3]:
# If we want a given parameter for all the objects, we can just index by the parameter. In this example, we are asking for the Resistance of all the lines
# We can choose a diferent object by calling its paritcular function 'get_*element*()', and the particular attribute you want to pick instead of ['r'].
grid.get_lines()['r']

id
.CTLHL31.CTLO    1.149352
.CTLHL32.CTLO    1.149352
.CTLOL31FINS     2.127000
.CTLOL31ZLIEB    3.870000
.G.ROL51HOSPI    1.599000
                   ...
ZNAUSL31ZPRA5    6.660255
ZPRRFL32ZPRR5    0.050000
ZQUINL61ZSSCR    0.350000
ZS.SEL31ZVLET    0.100000
ZTRINL31ZP.F5    1.831000
Name: r, Length: 7773, dtype: float64

In [4]:
# An alternative way of getting the given parameter, or a group of them, is by explicitly demanding to retrieve just those parameters from the dataframe
grid.get_lines(attributes=['r', 'x'])

                      r          x
id
.CTLHL31.CTLO  1.149352   2.103875
.CTLHL32.CTLO  1.149352   2.103875
.CTLOL31FINS   2.127000   4.709000
.CTLOL31ZLIEB  3.870000   9.045000
.G.ROL51HOSPI  1.599000   4.665999
...                 ...        ...
ZNAUSL31ZPRA5  6.660255  12.191515
ZPRRFL32ZPRR5  0.050000   0.120000
ZQUINL61ZSSCR  0.350000   2.370000
ZS.SEL31ZVLET  0.100000   0.190000
ZTRINL31ZP.F5  1.831000   4.640999

[7773 rows x 2 columns]

If we were to do a targeted search, we can do so using the *loc* Pandas method

In [5]:
# If we want instead the parameter for a given object, we can do the following call
grid.get_lines(attributes=['r']).loc['.CTLHL31.CTLO']

r    1.149352
Name: .CTLHL31.CTLO, dtype: float64

## Modifying an element parameter

Now, we want to modify the values of the resistance. We can try to do so for an individual, for a group of items or for the whole dataset. The main function used to modify in the parameters is the update_*element*(df, *\*\*kwargs*) function, where *element* should be susbtituted by any grid item you want to modify. The input can be a dataframe with all the parameters that are modified, or punctual, where we can use the id of the element and the specific parameters. 

Note that not all the parameters are editable, you can consult the individual update function documentation by searching it in the [Network page](https://powsybl.readthedocs.io/projects/pypowsybl/en/stable/reference/network.html)

We can see in the following example how to edit one or multiple items resistance parameter using the keywords:

In [11]:

grid.update_lines(id='.CTLHL31.CTLO', r=2)
grid.update_lines(id=['.CTLHL32.CTLO', '.CTLOL31FINS'], r=[2, 2])
grid.get_lines(attributes=['r'])

                      r
id
.CTLHL31.CTLO  2.000000
.CTLHL32.CTLO  2.000000
.CTLOL31FINS   2.000000
.CTLOL31ZLIEB  3.870000
.G.ROL51HOSPI  1.599000
...                 ...
ZNAUSL31ZPRA5  6.660255
ZPRRFL32ZPRR5  0.050000
ZQUINL61ZSSCR  0.350000
ZS.SEL31ZVLET  0.100000
ZTRINL31ZP.F5  1.831000

[7773 rows x 1 columns]

We can also do broad modifications with the dataframe input, allowing for manipulation of the base dataframe. For instance, we will duplicate the values of *r* and *x*:

In [12]:
df_lines = grid.get_lines(attributes=['r', 'x'])
df_lines['r'] *= 2
df_lines['x'] *= 2
grid.update_lines(df=df_lines)
grid.get_lines(all_attributes=True)

,name,r,x,g1,b1,g2,b2,p1,q1,i1,...,node1,bus2_id,bus_breaker_bus2_id,node2,connected1,connected2,fictitious,selected_limits_group_1,selected_limits_group_2,codeOI
id,,,,,,,,,,,,,,,,,,,,,
.CTLHL31.CTLO,,4.00000,4.207750,0.0,0.000006,0.0,0.000006,NaN,NaN,NaN,...,3,,.CTLOP3_17,17,True,False,False,ETE,ETE,.CTLHL31.CTLO
.CTLHL32.CTLO,,4.00000,4.207750,0.0,0.000006,0.0,0.000006,NaN,NaN,NaN,...,5,.CTLOP3_3,.CTLOP3_3,19,True,True,False,ETE,ETE,.CTLHL32.CTLO
.CTLOL31FINS,,4.00000,9.418000,0.0,0.000017,0.0,0.000045,NaN,NaN,NaN,...,21,FINS P3_0,FINS P3_0,3,True,True,False,ETE,ETE,.CTLOL31FINS
.CTLOL31ZLIEB,,7.74000,18.090000,0.0,0.000032,0.0,0.000033,NaN,NaN,NaN,...,31,ZLIEBP3_0,ZLIEBP3_0,4,True,True,False,ETE,ETE,.CTLOL31ZLIEB
.G.ROL51HOSPI,,3.19800,9.331998,0.0,0.000032,0.0,0.000028,NaN,NaN,NaN,...,4,HOSPIP5_0,HOSPIP5_0,6,True,True,False,ETE,ETE,.G.ROL51HOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZNAUSL31ZPRA5,,13.32051,24.383030,0.0,0.000040,0.0,0.000041,NaN,NaN,NaN,...,6,ZNAUSP3_0,ZNAUSP3_0,6,True,True,False,ETE,ETE,ZNAUSL31ZPRA5
ZPRRFL32ZPRR5,,0.10000,0.240000,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,6,ZPRR5P3_0,ZPRR5P3_0,6,True,True,False,ETE,ETE,ZPRRFL32ZPRR5
ZQUINL61ZSSCR,,0.70000,4.739999,0.0,0.000009,0.0,0.000009,NaN,NaN,NaN,...,6,ZSSCRP6_0,ZSSCRP6_0,6,True,True,False,ETE,ETE,ZQUINL61ZSSCR
ZS.SEL31ZVLET,,0.20000,0.380000,0.0,0.000001,0.0,0.000001,NaN,NaN,NaN,...,6,ZVLETP3_0,ZVLETP3_0,6,True,True,False,ETE,ETE,ZS.SEL31ZVLET
ZTRINL31ZP.F5,,3.66200,9.281999,0.0,0.000016,0.0,0.000016,NaN,NaN,NaN,...,6,ZP.F5P3_0,ZP.F5P3_0,6,True,True,False,ETE,ETE,ZP.F5L31ZTRIN

,element_type,side,name,type,value,acceptable_duration,fictitious,group_name,selected
element_id,,,,,,,,,
.CTLHL31.CTLO,LINE,ONE,permanent_limit,CURRENT,2.100000e+02,-1,False,ETE,True
.CTLHL31.CTLO,LINE,ONE,N/A,CURRENT,1.797693e+308,2147483647,False,ETE,True
.CTLHL31.CTLO,LINE,TWO,permanent_limit,CURRENT,2.100000e+02,-1,False,ETE,True
.CTLHL32.CTLO,LINE,ONE,permanent_limit,CURRENT,2.100000e+02,-1,False,ETE,True
.CTLHL32.CTLO,LINE,ONE,N/A,CURRENT,1.797693e+308,2147483647,False,ETE,True
...,...,...,...,...,...,...,...,...,...
WEPPEY762,TWO_WINDINGS_TRANSFORMER,ONE,IT1,CURRENT,1.797693e+308,60,False,ETE,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,permanent_limit,CURRENT,7.130001e+02,-1,False,ETE,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,IT20,CURRENT,9.300001e+02,1200,False,ETE,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,IT5,CURRENT,1.240000e+03,300,False,ETE,True
YAINVY642,TWO_WINDINGS_TRANSFORMER,ONE,IT1,CURRENT,1.797693e+308,60,False,ETE,True